# 위에서 아래로

수열을 내림차순으로 정렬

입력: (1행) 수의 개수 N / (2행~) 정렬하고자 하는 수

출력: 내림차순으로 정렬된 수

In [1]:
n = int(input())

array = []
for i in range(n):
    array.append(int(input()))

3
77
55
88

In [2]:
array = sorted(array, reverse=True)

for i in array:
    print(i, end=' ')

88 77 55

# 성적이 낮은 순서로 학생 출력하기

입력: (1행) 학생수 N / (2행~) 홍길동 95 ...

출력: 성적이 낮은 순서(오름차순)으로 학생 이름 출력

### 답안(S)

In [3]:
n = int(input())
array = []
for i in range(n):
    array.append(list(input("input name, grade: ").split()))

3
input name, grade: 영희 77
input name, grade: 길동 55
input name, grade: 철수 88

In [4]:
def setting(data):
    data[1] = int(data[1])
    return data[1]

In [5]:
result = sorted(array, key=setting)
for i in range(n):
    print(result[i][0], end=' ')

길동 영희 철수

### 답안1

In [6]:
n = int(input())
array = []
for i in range(n):
    input_data = input().split()
    array.append((input_data[0], int(input_data[1])))

3
영희 77
길동 55
철수 88

In [7]:
array = sorted(array, key=lambda student: student[1])
for student in array:
    print(student[0], end=' ')

길동 영희 철수

# 두 배열의 원소 교체

N개의 자연수 원소로 구성된 배열 A, B에 대하여, 최대 K번의 바꿔치기 연산. A의 원소의 합이 최대가 되도록 한다.

입력: (1행) N K / (2행) 배열 A / (3행) 배열 B

출력: 바꿔치기 연산 수행후, 연산 가능한 A의 원소의 합의 최댓값

In [8]:
n, k = map(int, input("set n, k: ").split())
a = list(map(int, input("set A: ").split()))
b = list(map(int, input("set B: ").split()))

set n, k: 5 3
set A: 1 2 5 4 3
set B: 5 5 6 6 5

In [9]:
a.sort()
b.sort(reverse=True)

In [10]:
for i in range(k):
    if a[i] < b[i]:
        a[i], b[i] = b[i], a[i]
    else:
        break

print(a)
print(sum(a))

[6, 6, 5, 4, 5]
26